.bottom-nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #05478e;
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .nav-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    text-decoration: none;
    font-size: 14px;
    transition: color 0.3s;
  }
  
  .nav-item.active {
    color: #74b4f8;
  }
  
  .nav-item span {
    margin-top: 5px;
    font-size: 12px;
  }
  